@import "variables.scss";
@import "thirdparty.scss";

html {
  background-color: #212121;
  color: #e2e2e2;
}

body {
  font-family: 'Varela', sans-serif;
}

a {
  text-decoration: none !important;
}

.navbar {
  background-color: #252525 !important;
  //height: 70px;
  border-bottom: 1px solid #2f2f2f;
  box-shadow: 0px 0px 20px #0000003d;
  .navbar-brand {
    font-family: 'Michroma', sans-serif;
    img {
      margin-right: 5px;
    }
    .navbar-item {
      color: #cacaca !important;
      font-size: 16px;
      .global-logo {
        color: #FFF;
        margin-right: 5px;
      }
    }
  }
  .navbar-menu {
    .navbar-item {
      
      font-size: 14px;
      text-transform: uppercase;
      padding: 27px 25px 25px;
      border-bottom: 0px;
      &.is-active {
        color: #a0dfff !important;
        border-bottom: 2px solid;
      }
      i {
        margin-top: -2px;
        margin-right: 10px;
      }
    }
  }
}

@import "replay-viewer.scss";
