.map-viewer {
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  background: #171717;
  canvas {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
  }
  &:-webkit-full-screen {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
  }
  .side-panel {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 32;
    width: 256px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-family: sans-serif;
    padding: 16px;
    margin: 8px;
    user-select: none;
    .slider {
      width: 240px;
      margin: 8px;
    }
    .label {
      display: inline-block;
      font-size: 10pt;
      padding-right: 8px;
      color: #cccccc;
    }
  }
  overflow: hidden;
  .crosshair {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: -8px;
    margin-right: -8px;
    left: 50%;
    top: 50%;
    background-image: url(../images/crosshair.png);
  }
  .playback-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    background-color: rgba(15, 15, 15, 0.825);
    font-weight: 550;
    transition: bottom 0.1s ease-out;
    &.hidden {
      bottom: -40px;
      transition: bottom 0.2s ease-in;
    }
    .scrubber-container {
      position: absolute;
      left: 136px;
      right: 160px;
      top: 0;
      bottom: 0;
      vertical-align: middle;
      .scrubber {
        width: 100%;
        height: 36px;
      }
    }
    .time {
      position: absolute;
      left: 40px;
      width: 96px;
      top: 0;
      bottom: 0;
      text-align: center;
      user-select: none;
    }
    .speed {
      position: absolute;
      right: 92px;
      width: 56px;
      top: 0;
      bottom: 0;
      text-align: center;
      user-select: none;
      &:hover {
        cursor: pointer;
        text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
      }
      &::before {
        content: "x";
      }
    }
    .control {
      position: absolute;
      width: 24px;
      height: 24px;
      top: 8px;
      &:hover {
        cursor: pointer;
        -webkit-filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25));
        filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.25));
      }
    }
    .pause {
      display: none;
      left: 16px;
      background-image: url(../images/pause.png);
    }
    .play {
      left: 16px;
      background-image: url(../images/play.png);
    }
    .settings {
      right: 56px;
      background-image: url(../images/settings.png);
    }
    .fullscreen {
      right: 16px;
      background-image: url(../images/fullscreen.png);
    }
  }
  .speed-control {
    display: none;
    position: absolute;
    bottom: 48px;
    right: 8px;
    width: 256px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(15, 15, 15, 0.825);
    .speed-slider {
      width: 100%;
    }
  }
  .message {
    position: absolute;
    width: 512px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -32px;
    background-color: rgba(15, 15, 15, 0.825);
    color: white;
    font-family: sans-serif;
    text-align: center;
    line-height: 64px;
    user-select: none;
  }
  .key-display {
    position: absolute;
    width: 296px;
    height: 248px;
    left: 8px;
    bottom: 48px;
    background-color: rgba(0, 0, 0, 0.25);
    .stat, .key {
      position: absolute;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      color: #666;
    }
    .stat {
      top: 8px;
      width: 136px;
      height: 40px;
      line-height: 40px;
      font-size: 10pt;
    }
    .sync-outer {
      left: 8px;
    }
    .speed-outer {
      right: 8px;
    }
    .stat .value {
      color: #fff;
      font-size: 12pt;
    }
    .key {
      width: 64px;
      height: 56px;
      line-height: 56px;
      font-weight: bold;
    }
    .pressed {
      background-color: rgba(0, 0, 0, 0.875);
      color: #fff;
      text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
    }
    .key-w {
      left: 152px;
      bottom: 136px;
    }
    .key-a {
      left: 80px;
      bottom: 72px;
    }
    .key-s {
      left: 152px;
      bottom: 72px;
    }
    .key-d {
      left: 224px;
      bottom: 72px;
    }
    .key-walk {
      left: 8px;
      bottom: 136px;
    }
    .key-duck {
      left: 8px;
      bottom: 72px;
    }
    .key-jump {
      left: 8px;
      width: 280px;
      bottom: 8px;
    }
  }
  .info-title {
    color: #999;
    margin-top: 8px;
    text-align: center;
  }
  .info-display {
    position: absolute;
    width: 296px;
    left: 8px;
    bottom: 300px;
    background-color: rgba(0, 0, 0, 0.25);
    line-height: 24px;
  }
  .info-list {
    margin: 8px;
  }
  .info-item {
    // todo
  }
  .info-item-title {
    // todo
  }
  .info-item-value {
    float: right;
  }
  .options-menu {
    position: absolute;
    width: 256px;
    right: 8px;
    bottom: 48px;
    background-color: rgba(0, 0, 0, 0.25);
    line-height: 24px;
  }
  .options-title {
    margin: 8px;
    text-align: center;
    color: #999;
  }
  .options-list {
    margin: 8px;
    .option {
      user-select: none;
      padding: 4px 4px 4px 8px;
      background-color: rgba(0, 0, 0, 0.25);
      color: #ccc;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
      }
      .value {
        float: right;
        text-align: center;
        width: 80px;
        color: #fff;
      }
      .toggle {
        position: relative;
        float: right;
        margin: 2px;
        width: 48px;
        height: 20px;
        border-radius: 10px;
        background-color: #333;
        .knob {
          position: absolute;
          top: 4px;
          left: 4px;
          width: 16px;
          height: 12px;
          border-radius: 6px;
          background-color: #666;
          transition: all 0.06667s ease-in-out;
        }
        &.on .knob {
          left: 28px;
          background-color: #ccc;
        }
      }
    }
  }
}
