<!DOCTYPE html>
<html>
  <head>
	<base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:type" content="website">
	<meta property="og:title" content="GlobalAPI - Replays">
	<meta property="og:description" content="Frontend web viewer for GlobalAPI records">
	<meta property="og:url" content="https://replays.global-api.com">
	<title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Varela|Michroma" rel="stylesheet">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
    <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <!-- Webpack Dev Server reload -->
    <script src="/webpack-dev-server.js"></script>
    <% } %>
  </body>
</html>
