<template>
  <nav class="navbar is-widescreen is-dark">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="brand-logo" src="./images/kreedz-logo.png" alt="Kreedz">
          <span class="global-logo">Global<b>API</b></span> Replays
        </a>
        <div class="navbar-burger burger" data-target="hiddenNav">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="hiddenNav" class="navbar-menu">
        <div class="navbar-end">
          <a repeat.for="nav of router.navigation" class="navbar-item ${nav.isActive ? 'is-active' : ''}" href.bind="nav.href">
            ${nav.config.name}
          </a>
          <a class="navbar-item" target="_blank" href="https://docs.global-api.com/backend/#/Records">
            Docs
          </a>
        </div>
      </div>
    </div>
  </nav>
  <router-view containerless></router-view>
</template>
