<template>
  <section class="section is-dark">
    <div class="container">
      <div class="columns">
        <div class="column">
          <kz-replay-viewer replay-id.bind="replayId" record-id.bind="recordId"></kz-replay-viewer>
        </div>
      </div>
    </div>
  </section>
</template>
